@import "tailwindcss";

.textWhite{
  color: #ffffff;
}
.colorfulButton{
  color: #FCFCFC;
  font-size: 18px;
  background: #85AA9F;
  border: none;
  border-radius: 30px;
  padding: 14px 80px;
}

.pageButtons{
  border: 1px solid rgb(190, 190, 190);
  border-radius: 30%;
  padding: 2px;
  height: 40px;
  width: 40px;
}

.pageButtons:focus{
  background-color: #85AA9F;
}
.whiteButton{
  color: #85AA9F;
  background: #ffffff;
  border: none;
  border:#85AA9F 1px solid;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F8F8F8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.inputword:focus,.inputword:hover{
  border: none;
   outline: none;
  border: none;
  box-shadow: none;
}
.inputword{
  border:none;
}
.errorMessages{
  color:rgb(140, 21, 21);
}